## Ignore Visual Studio temporary files, build results
*.ipch
*.user

## voorbeelden
/voorbeelden/.vs
/voorbeelden/Debug
/voorbeelden/Release
/voorbeelden/x64
/voorbeelden/AssignmentOperator/.vs
/voorbeelden/AssignmentOperator/Debug
/voorbeelden/AssignmentOperator/Release
/voorbeelden/AssignmentOperator/x64
/voorbeelden/BankAccount/.vs
/voorbeelden/BankAccount/Debug
/voorbeelden/BankAccount/Release
/voorbeelden/BankAccount/x64
/voorbeelden/ConcreteLinkedList/.vs
/voorbeelden/ConcreteLinkedList/Debug
/voorbeelden/ConcreteLinkedList/Release
/voorbeelden/ConcreteLinkedList/x64
/voorbeelden/Expression/.vs
/voorbeelden/Expression/Debug
/voorbeelden/Expression/Release
/voorbeelden/Expression/x64
/voorbeelden/FileCopyStream/.vs
/voorbeelden/FileCopyStream/Debug
/voorbeelden/FileCopyStream/Release
/voorbeelden/FileCopyStream/x64
/voorbeelden/FileWriteRead/.vs
/voorbeelden/FileWriteRead/Debug
/voorbeelden/FileWriteRead/Release
/voorbeelden/FileWriteRead/x64
/voorbeelden/FriendClass/.vs
/voorbeelden/FriendClass/Debug
/voorbeelden/FriendClass/Release
/voorbeelden/FriendClass/x64
/voorbeelden/FriendFunction/.vs
/voorbeelden/FriendFunction/Debug
/voorbeelden/FriendFunction/Release
/voorbeelden/FriendFunction/x64
/voorbeelden/GenericStack/.vs
/voorbeelden/GenericStack/Debug
/voorbeelden/GenericStack/Release
/voorbeelden/GenericStack/x64
/voorbeelden/HelloAlgorithm/.vs
/voorbeelden/HelloAlgorithm/Debug
/voorbeelden/HelloAlgorithm/Release
/voorbeelden/HelloAlgorithm/x64
/voorbeelden/HelloConstructor/.vs
/voorbeelden/HelloConstructor/Debug
/voorbeelden/HelloConstructor/Release
/voorbeelden/HelloConstructor/x64
/voorbeelden/HelloArrays/.vs
/voorbeelden/HelloArrays/Debug
/voorbeelden/HelloArrays/Release
/voorbeelden/HelloArrays/x64
/voorbeelden/HelloCppArray/.vs
/voorbeelden/HelloCppArray/Debug
/voorbeelden/HelloCppArray/Release
/voorbeelden/HelloCppArray/x64
/voorbeelden/HelloEndl/.vs
/voorbeelden/HelloEndl/Debug
/voorbeelden/HelloEndl/Release
/voorbeelden/HelloEndl/x64
/voorbeelden/HelloFileIO/.vs
/voorbeelden/HelloFileIO/Debug
/voorbeelden/HelloFileIO/Release
/voorbeelden/HelloFileIO/x64
/voorbeelden/HelloManipulator/.vs
/voorbeelden/HelloManipulator/Debug
/voorbeelden/HelloManipulator/Release
/voorbeelden/HelloManipulator/x64
/voorbeelden/HelloMethods/.vs
/voorbeelden/HelloMethods/Debug
/voorbeelden/HelloMethods/Release
/voorbeelden/HelloMethods/x64
/voorbeelden/HelloReplaceString/.vs
/voorbeelden/HelloReplaceString/Debug
/voorbeelden/HelloReplaceString/Release
/voorbeelden/HelloReplaceString/x64
/voorbeelden/HelloStrings/.vs
/voorbeelden/HelloStrings/Debug
/voorbeelden/HelloStrings/Release
/voorbeelden/HelloStrings/x64
/voorbeelden/HelloStringStream/.vs
/voorbeelden/HelloStringStream/Debug
/voorbeelden/HelloStringStream/Release
/voorbeelden/HelloStringStream/x64
/voorbeelden/HelloVector/.vs
/voorbeelden/HelloVector/Debug
/voorbeelden/HelloVector/Release
/voorbeelden/HelloVector/x64
/voorbeelden/HelloWorld/.vs
/voorbeelden/HelloWorld/Debug
/voorbeelden/HelloWorld/Release
/voorbeelden/HelloWorld/x64
/voorbeelden/Iterator/.vs
/voorbeelden/Iterator/Debug
/voorbeelden/Iterator/Release
/voorbeelden/Iterator/x64
/voorbeelden/Literals/.vs
/voorbeelden/Literals/Debug
/voorbeelden/Literals/Release
/voorbeelden/Literals/x64
/voorbeelden/ObjectOverloading/.vs
/voorbeelden/ObjectOverloading/Debug
/voorbeelden/ObjectOverloading/Release
/voorbeelden/ObjectOverloading/x64
/voorbeelden/PriorityQueue/.vs
/voorbeelden/PriorityQueue/Debug
/voorbeelden/PriorityQueue/Release
/voorbeelden/PriorityQueue/x64
/voorbeelden/Rational/.vs
/voorbeelden/Rational/Debug
/voorbeelden/Rational/Release
/voorbeelden/Rational/x64
/voorbeelden/RationalOverloading/.vs
/voorbeelden/RationalOverloading/Debug
/voorbeelden/RationalOverloading/Release
/voorbeelden/RationalOverloading/x64
/voorbeelden/StudentDate/.vs
/voorbeelden/StudentDate/Debug
/voorbeelden/StudentDate/Release
/voorbeelden/StudentDate/x64
/voorbeelden/TemplateLinkedList/.vs
/voorbeelden/TemplateLinkedList/Debug
/voorbeelden/TemplateLinkedList/Release
/voorbeelden/TemplateLinkedList/x64
/voorbeelden/ThreeFiveZero/.vs
/voorbeelden/ThreeFiveZero/Debug
/voorbeelden/ThreeFiveZero/Release
/voorbeelden/ThreeFiveZero/x64
/voorbeelden/Tuple/.vs
/voorbeelden/Tuple/Debug
/voorbeelden/Tuple/Release
/voorbeelden/Tuple/x64
/voorbeelden/Union/.vs
/voorbeelden/Union/Debug
/voorbeelden/Union/Release
/voorbeelden/Union/x64
/voorbeelden/HelloPointer/.vs
/voorbeelden/HelloPointer/Debug
/voorbeelden/HelloPointer/Release
/voorbeelden/HelloPointer/x64

## collaboration
/Collaboration/.vs
/Collaboration/Debug
/Collaboration/Release
/Collaboration/x64
/Collaboration/groep1/x64
/Collaboration/groep1/Debug
/Collaboration/groep1/Release
/Collaboration/groep2/x64
/Collaboration/groep2/Debug
/Collaboration/groep2/Release
/Collaboration/groep3/x64
/Collaboration/groep3/Debug
/Collaboration/groep3/Release
/Collaboration/groep4/x64
/Collaboration/groep4/Debug
/Collaboration/groep4/Release
/Collaboration/groep5/x64
/Collaboration/groep5/Debug
/Collaboration/groep5/Release
/Collaboration/groep6/x64
/Collaboration/groep6/Debug
/Collaboration/groep6/Release
/Collaboration/groep7/x64
/Collaboration/groep7/Debug
/Collaboration/groep7/Release
/Collaboration/groep8/x64
/Collaboration/groep8/Debug
/Collaboration/groep8/Release

## Workshop 1
/Workshop 1/Helloworld/.vs
/Workshop 1/Helloworld/Debug
/Workshop 1/Helloworld/Release
/Workshop 1/Helloworld/x64
/Workshop 1/Helloworld/Helloworld/x64
/Workshop 1/Helloworld/Helloworld/Debug
/Workshop 1/Helloworld/Helloworld/Release
/Workshop 1/Opdracht/.vs
/Workshop 1/Opdracht/Debug
/Workshop 1/Opdracht/Release
/Workshop 1/Opdracht/x64
/Workshop 1/Opdracht/boostvoorbeeld/x64
/Workshop 1/Opdracht/boostvoorbeeld/Debug
/Workshop 1/Opdracht/boostvoorbeeld/Release
/Workshop 1/Opdracht/robot/x64
/Workshop 1/Opdracht/robot/Debug
/Workshop 1/Opdracht/robot/Release

## Workshop 2
/Workshop 2/Workshop/.vs
/Workshop 2/Workshop/Debug
/Workshop 2/Workshop/Release
/Workshop 2/Workshop/x64
/Workshop 2/Workshop/cpp_c_asm/x64
/Workshop 2/Workshop/cpp_c_asm/Debug
/Workshop 2/Workshop/cpp_c_asm/Release
/Workshop 2/Workshop/workshop/x64
/Workshop 2/Workshop/workshop/Debug
/Workshop 2/Workshop/workshop/Release
/Workshop 2/Opdracht/.vs

## Workshop 3
/Workshop 3/Workshop/.vs
/Workshop 3/Workshop/Debug
/Workshop 3/Workshop/Release
/Workshop 3/Workshop/x64
/Workshop 3/Workshop/linkedlist/x64
/Workshop 3/Workshop/linkedlist/Debug
/Workshop 3/Workshop/linkedlist/Release
/Workshop 3/Workshop/workshop/x64
/Workshop 3/Workshop/workshop/Debug
/Workshop 3/Workshop/workshop/Release
/Workshop 3/Opdracht/.vs
/Workshop 3/Opdracht/x64
/Workshop 3/Opdracht/Debug
/Workshop 3/Opdracht/Release
/Workshop 3/Opdracht/Opdracht4/x64
/Workshop 3/Opdracht/Opdracht4/Debug
/Workshop 3/Opdracht/Opdracht4/Release

## Workshop 4
/Workshop 4/Workshop/.vs
/Workshop 4/Workshop/Debug
/Workshop 4/Workshop/Release
/Workshop 4/Workshop/x64
/Workshop 4/Workshop/myApp/x64
/Workshop 4/Workshop/myApp/Debug
/Workshop 4/Workshop/myApp/Release
/Workshop 4/Workshop/workshop/x64
/Workshop 4/Workshop/workshop/Debug
/Workshop 4/Workshop/workshop/Release
/Workshop 4/Opdracht/.vs
/Workshop 4/Opdracht/x64
/Workshop 4/Opdracht/Debug
/Workshop 4/Opdracht/Release
/Workshop 4/Opdracht/Opdracht/x64
/Workshop 4/Opdracht/Opdracht/Debug
/Workshop 4/Opdracht/Opdracht/Release

## Workshop 5
/Workshop 5/Workshop/.vs
/Workshop 5/Workshop/Debug
/Workshop 5/Workshop/Release
/Workshop 5/Workshop/x64
/Workshop 5/Workshop/workshop/x64
/Workshop 5/Workshop/workshop/Debug
/Workshop 5/Workshop/workshop/Release
/Workshop 5/Opdracht/.vs
/Workshop 5/Opdracht/x64
/Workshop 5/Opdracht/Debug
/Workshop 5/Opdracht/Release
/Workshop 5/Opdracht/Opdracht/x64
/Workshop 5/Opdracht/Opdracht/Debug
/Workshop 5/Opdracht/Opdracht/Release

## Workshop 6
/Workshop 6/Workshop/.vs
/Workshop 6/Workshop/Debug
/Workshop 6/Workshop/Release
/Workshop 6/Workshop/x64
/Workshop 6/Workshop/workshop/x64
/Workshop 6/Workshop/workshop/Debug
/Workshop 6/Workshop/workshop/Release
/Workshop 6/Workshop/ThreadingExampleBarrier/x64
/Workshop 6/Workshop/ThreadingExampleBarrier/Debug
/Workshop 6/Workshop/ThreadingExampleBarrier/Release
/Workshop 6/Workshop/ThreadingExampleConditionVariables/x64
/Workshop 6/Workshop/ThreadingExampleConditionVariables/Debug
/Workshop 6/Workshop/ThreadingExampleConditionVariables/Release
/Workshop 6/Workshop/ThreadingExampleCustomSemaphore/x64
/Workshop 6/Workshop/ThreadingExampleCustomSemaphore/Debug
/Workshop 6/Workshop/ThreadingExampleCustomSemaphore/Release
/Workshop 6/Workshop/ThreadingExampleMutex/x64
/Workshop 6/Workshop/ThreadingExampleMutex/Debug
/Workshop 6/Workshop/ThreadingExampleMutex/Release
/Workshop 6/Workshop/ThreadingExampleSemaphore/x64
/Workshop 6/Workshop/ThreadingExampleSemaphore/Debug
/Workshop 6/Workshop/ThreadingExampleSemaphore/Release
/Workshop 6/Workshop/AsyncExample/x64
/Workshop 6/Workshop/AsyncExample/Debug
/Workshop 6/Workshop/AsyncExample/Release
/Workshop 6/Workshop/NoAsyncExample/x64
/Workshop 6/Workshop/NoAsyncExample/Debug
/Workshop 6/Workshop/NoAsyncExample/Release
/Workshop 6/Workshop/OpenMPExample/x64
/Workshop 6/Workshop/OpenMPExample/Debug
/Workshop 6/Workshop/OpenMPExample/Release
/Workshop 6/Workshop/fibonacci/x64
/Workshop 6/Workshop/fibonacci/Debug
/Workshop 6/Workshop/fibonacci/Release
/Workshop 6/Workshop/OpenMPFibonacci/x64
/Workshop 6/Workshop/OpenMPFibonacci/Debug
/Workshop 6/Workshop/OpenMPFibonacci/Release
/Workshop 6/Workshop/OpenMPMatrix/x64
/Workshop 6/Workshop/OpenMPMatrix/Debug
/Workshop 6/Workshop/OpenMPMatrix/Release
/Workshop 6/Opdracht/.vs
/Workshop 6/Opdracht/x64
/Workshop 6/Opdracht/Debug
/Workshop 6/Opdracht/Release
/Workshop 6/Opdracht/Opdracht/x64
/Workshop 6/Opdracht/Opdracht/Debug
/Workshop 6/Opdracht/Opdracht/Release
/Workshop 6/Opdracht/reductie/x64
/Workshop 6/Opdracht/reductie/Debug
/Workshop 6/Opdracht/reductie/Release

## Workshop 7
/Workshop 7/Workshop/.vs
/Workshop 7/Workshop/Debug
/Workshop 7/Workshop/Release
/Workshop 7/Workshop/x64
/Workshop 7/Workshop/workshop/x64
/Workshop 7/Workshop/workshop/Debug
/Workshop 7/Workshop/workshop/Release
/Workshop 7/Opdracht/.vs
/Workshop 7/Opdracht/x64
/Workshop 7/Opdracht/Debug
/Workshop 7/Opdracht/Release
/Workshop 7/Opdracht/Opdracht/x64
/Workshop 7/Opdracht/Opdracht/Debug
/Workshop 7/Opdracht/Opdracht/Release
/Workshop 7/Workshop/jsonApp/x64
/Workshop 7/Workshop/jsonApp/Debug
/Workshop 7/Workshop/jsonApp/Release
/Workshop 7/Workshop/jsonApp/data_out.json
## ignore nlohmann json library
/Workshop 7/json-3.12.0