## Ignore Visual Studio temporary files, build results

*.ipch
*.user
/Workshop 1/Helloworld/.vs
/Workshop 1/Helloworld/Debug
/Workshop 1/Helloworld/Release
/Workshop 1/Helloworld/x64
/Workshop 1/Helloworld/Helloworld/x64
/Workshop 1/Helloworld/Helloworld/Debug
/Workshop 1/Helloworld/Helloworld/Release
/Workshop 1/Opdracht/.vs
/Workshop 1/Opdracht/Debug
/Workshop 1/Opdracht/Release
/Workshop 1/Opdracht/x64
/Workshop 1/Opdracht/boostvoorbeeld/x64
/Workshop 1/Opdracht/boostvoorbeeld/Debug
/Workshop 1/Opdracht/boostvoorbeeld/Release
/Workshop 1/Opdracht/robot/x64
/Workshop 1/Opdracht/robot/Debug
/Workshop 1/Opdracht/robot/Release
/Workshop 2/Workshop/.vs
/Workshop 2/Workshop/Debug
/Workshop 2/Workshop/Release
/Workshop 2/Workshop/x64
/Workshop 2/Workshop/cpp_c_asm/x64
/Workshop 2/Workshop/cpp_c_asm/Debug
/Workshop 2/Workshop/cpp_c_asm/Release
/Workshop 2/Workshop/workshop/x64
/Workshop 2/Workshop/workshop/Debug
/Workshop 2/Workshop/workshop/Release
/Workshop 2/Workshop/groep1/x64
/Workshop 2/Workshop/groep1/Debug
/Workshop 2/Workshop/groep1/Release
/Workshop 2/Workshop/groep2/x64
/Workshop 2/Workshop/groep2/Debug
/Workshop 2/Workshop/groep2/Release
/Workshop 2/Workshop/groep3/x64
/Workshop 2/Workshop/groep3/Debug
/Workshop 2/Workshop/groep3/Release
/Workshop 2/Workshop/groep4/x64
/Workshop 2/Workshop/groep4/Debug
/Workshop 2/Workshop/groep4/Release
/Workshop 2/Workshop/groep5/x64
/Workshop 2/Workshop/groep5/Debug
/Workshop 2/Workshop/groep5/Release
/Workshop 2/Workshop/groep6/x64
/Workshop 2/Workshop/groep6/Debug
/Workshop 2/Workshop/groep6/Release
/Workshop 2/Workshop/groep7/x64
/Workshop 2/Workshop/groep7/Debug
/Workshop 2/Workshop/groep7/Release
/Workshop 2/Workshop/groep8/x64
/Workshop 2/Workshop/groep8/Debug
/Workshop 2/Workshop/groep8/Release
/Workshop 2/Opdracht/.vs
/Workshop 3/Workshop/.vs
/Workshop 3/Workshop/Debug
/Workshop 3/Workshop/Release
/Workshop 3/Workshop/x64
/Workshop 3/Workshop/linkedlist/x64
/Workshop 3/Workshop/linkedlist/Debug
/Workshop 3/Workshop/linkedlist/Release
/Workshop 3/Workshop/workshop/x64
/Workshop 3/Workshop/workshop/Debug
/Workshop 3/Workshop/workshop/Release
/Workshop 3/Workshop/groep1/x64
/Workshop 3/Workshop/groep1/Debug
/Workshop 3/Workshop/groep1/Release
/Workshop 3/Workshop/groep2/x64
/Workshop 3/Workshop/groep2/Debug
/Workshop 3/Workshop/groep2/Release
/Workshop 3/Workshop/groep3/x64
/Workshop 3/Workshop/groep3/Debug
/Workshop 3/Workshop/groep3/Release
/Workshop 3/Workshop/groep4/x64
/Workshop 3/Workshop/groep4/Debug
/Workshop 3/Workshop/groep4/Release
/Workshop 3/Workshop/groep5/x64
/Workshop 3/Workshop/groep5/Debug
/Workshop 3/Workshop/groep5/Release
/Workshop 3/Workshop/groep6/x64
/Workshop 3/Workshop/groep6/Debug
/Workshop 3/Workshop/groep6/Release
/Workshop 3/Workshop/groep7/x64
/Workshop 3/Workshop/groep7/Debug
/Workshop 3/Workshop/groep7/Release
/Workshop 3/Workshop/groep8/x64
/Workshop 3/Workshop/groep8/Debug
/Workshop 3/Workshop/groep8/Release
/Workshop /Opdracht/.vs
