## Ignore Visual Studio temporary files, build results

*.ipch
*.user
/Workshop 1/Helloworld/.vs
/Workshop 1/Helloworld/Debug
/Workshop 1/Helloworld/Release
/Workshop 1/Helloworld/x64
/Workshop 1/Helloworld/Helloworld/x64
/Workshop 1/Helloworld/Helloworld/Debug
/Workshop 1/Helloworld/Helloworld/Release
/Workshop 1/Opdracht/.vs
/Workshop 1/Opdracht/Debug
/Workshop 1/Opdracht/Release
/Workshop 1/Opdracht/x64
/Workshop 1/Opdracht/boostvoorbeeld/x64
/Workshop 1/Opdracht/boostvoorbeeld/Debug
/Workshop 1/Opdracht/boostvoorbeeld/Release
/Workshop 1/Opdracht/robot/x64
/Workshop 1/Opdracht/robot/Debug
/Workshop 1/Opdracht/robot/Release
/Workshop 2/Workshop/.vs
/Workshop 2/Workshop/Debug
/Workshop 2/Workshop/Release
/Workshop 2/Workshop/x64
/Workshop 2/Workshop/cpp_c_asm/x64
/Workshop 2/Workshop/cpp_c_asm/Debug
/Workshop 2/Workshop/cpp_c_asm/Release
/Workshop 2/Opdracht/.vs